


$base-color:#e75480;

$base-font-size:16px;

$base-font: 'Roboto', sans-serif;

$heading-font: 'Montserrat', sans-serif;

$font-bold:700;

$theme-color:#3457D5;

$secondary-color:#F7931D;



